<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.36">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.5.0"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.5.0">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.78">
    <script>pipeline {
   agent any

   tools {
      // Install the Maven version configured as &quot;M3&quot; and add it to the path.
      maven &quot;3.6.3&quot;
   }

   stages {
      stage(&apos;Build&apos;) {
         steps {
            // Get some code from a GitHub repository
            git &apos;https://github.com/chandracpl/Sample-War.git&apos;

            // Run Maven on a Unix agent.
            sh &quot;mvn  clean package&quot;

            // To run Maven on a Windows agent, use
            // bat &quot;mvn -Dmaven.test.failure.ignore=true clean package&quot;
         }


      }
	  stage(&apos;DockerCMD&apos;) {
	  
	    steps {
            // Run Docker commands on a Unix agent.
		  sh &quot;sudo docker build -t reddy/webapp . &quot;
		  // Tag the Docker image and send to the  Docker HUB.      
              
              
              
          sh  &quot;sudo docker tag reddy/webapp 7777s/wepapp:$BUILD_NUMBER&quot;
          sh  &quot;sudo docker tag reddy/webapp 7777s/wepapp:latest&quot;
          sh  &quot;sudo docker push 7777s/wepapp:$BUILD_NUMBER&quot;
          sh  &quot;sudo docker push 7777s/wepapp:latest&quot;
		  
		}
	  }
	  stage(&apos;Deployment in Dev Server&apos;) {
	  
	    steps {
            // Run Docker commands on a Unix agent.
            // sh &apos;ssh root@172.31.28.249 sh /root/jenkins/docker-deploy.sh&apos;
              sh &apos;ssh root@172.31.28.249 sh /root/jenkins/docker-stack-rm.sh&apos;
            // sh &apos;ssh root@172.31.28.249 sh /root/jenkins/docker-compose.yml&apos;
		  
		}
	  }
	  
   }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>